@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

*{margin:0;padding:0;}
html{scroll-behavior:smooth;}
body{font-family:"Apple SD Gothic Neo","NotoSansKR", "NanumMyeongjo" ;font-size:14px;color:#000;}
img{vertical-align:middle;}
li{list-style:none;}
a{text-decoration:none;}
.clearfix:after{content:"";display:block;clear:both;}

body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}


.wrap {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.inner{
  width: 90%;
  margin: 0 auto;
  padding-top: 37px;
  position: relative;
}

.top{
  display: flex;
  align-items: baseline;
}
h1{
  font-size: 3vw;
  font-weight: 400;
}
.subTitle{
  font-size: 1vw;
  font-weight: 400;
  color: #ababab;
  margin-left: 20px;
  
}

.user-wrap{
 margin-left: auto;
 display: flex;
 align-items: center;
}
.userProfile{
  width: 30px;
  height: 30px;
  background-color: #ababab;
  border-radius: 100%;
  display: flex;


}
.userProfile>img{
  justify-content: center;
  align-items: center;
}
.userName{
  display: inline-block;
  margin-right: 15px;
}

.searchBox{
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.search{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #333 1.5px solid;
  outline: none;
  width: 10%;
  height: 30px;
  font-size: 15px;
  margin-right: 20px;

}


::placeholder{
  text-align: center;
  font-size: 12px;
  color: #ababab;
}

.submitBtn{
    display: inline-block;
    background-color: rgb(50, 190, 166);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-left: 10px;

}

.submitBtn:hover{
    background-color:  rgb(25, 128, 111);
    cursor: pointer;
}



.iconWrap{
  
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 30px;
  
}


.tableInfo{

    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

.priceInfo{
    font-size: 16px;
    margin-right: 10px;
    color: #ababab;
}

.budgetInfo{
    font-size: 24px;
}

.budgetInfo>span{
    font-weight: bold;
}


.icons {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1.5px solid #333;
  margin-right: 10px;
  color: #333;
  font-size: 12px;
  position: relative;
  
}
.icons>p{

  display: inline-block;
  position: absolute;
  top: 60%;
  left: 30%;
  
}
.costIcon>p{

  margin-left: -9px;
  font-size: 11px;
  
}

.icons>img{
  width: 40%;
  position: absolute;
  left: 50%;
  top: 5px;
  margin-left: -10px;

}

.icons:hover{
  border: rgb(50, 190, 166) 1.5px solid;
  background-color: rgb(50, 190, 166);
  color: white;
}

.icons:hover .svg{
  filter: invert(99%) sepia(6%) saturate(377%) hue-rotate(64deg) brightness(116%) contrast(100%);
}

.icons:active{
  background-color: rgb(25, 128, 111);
  border: 1px solid rgb(25, 128, 111);
}

table {
  margin-top: 15px;
  border: 1.5px solid #333;
  width: 100%;
  height: 40%;
  text-align: center;
  border-collapse: collapse;
 
}

th{
  font-weight: 500;
  font-size: 16pt;
  padding: 10px 0;
  border-left: 1px solid #333 ;
  border-bottom: 1.5px solid #333;
  
}
td{

  padding: 15px 0;
 
  border: 1px solid #333;
}

.checkbox{
  -webkit-appearance: none;
        position: relative;
        width: 16px;
        height: 16px;
        cursor: pointer;
        outline: none !important;
        border: 1px solid rgb(50, 190, 166);
        border-radius: 100%;
        background: #fbfbfb;
}
.checkbox:checked{
  background-color: rgb(50, 190, 166);
 
}

.filled{
    background-color: #dcdcdc;
}